<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action="#" th:action="@{/userform}" th:object="${user}" method="post">
    What is your name? <input type="text" th:field="*{name}"/>
    <span th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></span> <br/>

    What is your quest? <input type="text" th:field="*{quest}"/>
    <span th:if="${#fields.hasErrors('quest')}" th:errors="*{quest}"></span> <br/>

    <span th:if="${user.askColor} == true">
        What is your favorite color? <input type="text" th:field="*{color}"/>
        <span th:if="${#fields.hasErrors('color')}" th:errors="*{color}"></span> <br/>
    </span>
    <span th:if="${user.askColor} == false">
        What is the airspeed velocity of an unladen swallow? <input type="text" th:field="*{swallowVelocity}"/>
        <span th:if="${#fields.hasErrors('swallowVelocity')}" th:errors="*{swallowVelocity}"></span> <br/>
    </span>

    <button type="submit" value="Submit">Answer</button>

</form><br/>

<img src="https://content.propstore.com/auction/warcraft/listings3/87745/img08.jpg" style="max-width: 40%">
</body>
</html>